                            * {
                                box-sizing: border-box;
                                padding: 0;
                                margin: 0;
                            }
                            
                            html {
                                scroll-padding-top: 90px;
                            }
                            
                            body {
                                font-family: Arial, Helvetica, sans-serif;
                                background-color: #DEF2F1;
                                font-size: 18px;
                                margin-top: 44px;
                            }
                            
                            a {
                                text-decoration: none;
                            }
                            
                            ul {
                                list-style-type: none;
                            }
                            
                            .container {
                                margin-top: 20px;
                                padding: 0 40px;
                            }
                            
                            .flex {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                            }
                            
                            nav ul a {
                                color: rgb(31, 30, 30);
                                font-size: 19px;
                            }
                            
                            .navbar .flex {
                                justify-content: space-between;
                            }
                            
                            .navbar ul {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-evenly;
                            }
                            
                            .navbar a {
                                padding: 10px;
                                margin: 0 4px;
                            }
                            
                            nav a:hover,
                            nav a:focus {
                                box-shadow: inset 6.5em 0 0 0 #3aafa9;
                                transition: 0.5s;
                                -o-transition: 0.5s;
                                font-weight: 600;
                                color: #273b42;
                                -webkit-transition: 0.5s;
                                -moz-transition: 0.5s;
                                -ms-transition: 0.5s;
                            }
                            
                            .grid {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                gap: 20px;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                            }
                            
                            .btn,
                            .btn_about {
                                display: inline-block;
                                padding: 6px 23px;
                                cursor: pointer;
                                background-color: #3aafa9;
                                color: #17252A;
                                font-weight: bold;
                                border: none;
                                font-size: 22px;
                                border-radius: 7px;
                            }
                            
                            .btn_top {
                                padding: 9px 23px;
                                margin-top: 5px;
                                font-size: 23px;
                            }
                            
                            .btn:hover,
                            .btn_1:hover,
                            .btn_about:hover {
                                background-color: #4bc3bd;
                                color: #17252A !important;
                            }
                            
                            .Home {
                                margin-top: 140px;
                                margin-bottom: 50px;
                                background-color: #DEF2F1;
                            }
                            
                            .main_img {
                                justify-content: center;
                                align-items: center;
                                margin: 0 auto;
                            }
                            
                            .content1 p {
                                margin: 0;
                                color: #17252A;
                            }
                            
                            .Home .container {
                                padding: 0 120px;
                            }
                            
                            .top_icon a i {
                                transition: all 0.3s linear;
                            }
                            
                            .top_icon a:hover i {
                                transform: scale(1.1);
                            }
                            
                            .About_me,
                            .Services,
                            .Skills,
                            .Portfolio,
                            .contact {
                                background-color: #fefffddd;
                                padding-top: 20px;
                                text-align: center;
                            }
                            
                            .title_h2 {
                                text-align: center;
                                font-weight: bold;
                                font-size: 30px;
                                color: #3aafa9;
                            }
                            
                            .About_me p {
                                font-size: 20px;
                                text-align: left;
                                line-height: 30px;
                                padding: 18px 0 10px;
                            }
                            
                            .cover_about {
                                text-align: center;
                                max-width: 1000px;
                            }
                            
                            .Services {
                                text-align: center;
                                background-color: rgb(240, 236, 236);
                                padding-bottom: 70px;
                            }
                            
                            .serviceslist p,
                            .portlist p {
                                padding-bottom: 10px;
                            }
                            
                            .services_h2 {
                                padding-bottom: 40px;
                            }
                            
                            .Services .container,
                            .Portfolio .container {
                                margin-top: 1px;
                            }
                            
                            .Services h6 {
                                color: #2e2a3d;
                                font-size: 22px;
                                font-weight: bold;
                            }
                            
                            .Services p {
                                color: rgb(70, 82, 94);
                                padding: 10px 0 20px;
                                line-height: 26px;
                                font-size: 19px;
                            }
                            
                            .Services .grid {
                                grid-template-columns: repeat(3, 1fr);
                                gap: 10px;
                                row-gap: 30px;
                            }
                            
                            .serviceslist {
                                text-align: center;
                                margin: 0 auto;
                            }
                            
                            .serviceslist .inner {
                                max-width: 380px;
                                width: 380px;
                                height: 230px;
                                max-height: 230px;
                                border: 1px solid gray;
                                border-radius: 5px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                -ms-border-radius: 5px;
                                -o-border-radius: 5px;
                                padding: 30px;
                                text-align: center;
                                position: relative;
                                margin: 0 auto;
                            }
                            
                            .serviceslist .inner:hover {
                                background-color: rgb(238, 232, 232) !important;
                            }
                            
                            .serviceslist .inner::before {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 0;
                                box-sizing: border-box;
                                height: 0;
                                border-bottom: 3px solid transparent;
                                border-left: 3px solid transparent;
                                transition: all .8s ease;
                            }
                            
                            .serviceslist .inner::after {
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 0;
                                box-sizing: border-box;
                                height: 0;
                                border-top: 3px solid transparent;
                                border-right: 3px solid transparent;
                                transition: all .8s ease;
                            }
                            
                            .serviceslist:hover .inner::after,
                            .serviceslist:hover .inner::before {
                                border-color: rgb(168, 163, 163);
                                width: 100%;
                                height: 100%;
                            }
                            
                            .service_icon i {
                                font-size: 30px;
                                padding-bottom: 20px;
                            }
                            
                            .service_icon_alt img {
                                width: 40px;
                                padding-bottom: 20px;
                            }
                            
                            .servicelist:hover {
                                background-color: white;
                            }
                            
                            .skills_cover {
                                max-width: 800px;
                                text-align: center;
                                margin: 0 auto;
                            }
                            
                            .Skills .grid {
                                grid-template-columns: repeat(3, 1fr);
                                gap: 40px;
                                row-gap: 20px;
                            }
                            
                            .skill_list {
                                padding: 10px 0;
                                max-width: 200px;
                            }
                            
                            .skill_name,
                            .more_skills {
                                color: #2e2a3d;
                                text-align: left;
                                font-size: 19px;
                                letter-spacing: 0.5px;
                            }
                            
                            .skill_list {
                                text-align: left;
                            }
                            
                            .skills_icon i {
                                font-size: 50px;
                                padding: 20px;
                                color: #17252a;
                                position: relative;
                                top: 0;
                                transition: top ease 0.4s;
                                -webkit-transition: top ease 0.4s;
                                -moz-transition: top ease 0.4s;
                                -ms-transition: top ease 0.4s;
                                -o-transition: top ease 0.4s;
                            }
                            
                            .skills_icon i:hover {
                                top: -10px;
                            }
                            
                            .skill_alt img {
                                width: 100px;
                                height: 90px;
                                padding: 20px 20px 5px;
                                position: relative;
                                top: 0;
                                transition: top ease 0.4s;
                                -webkit-transition: top ease 0.4s;
                                -moz-transition: top ease 0.4s;
                                -ms-transition: top ease 0.4s;
                                -o-transition: top ease 0.4s;
                            }
                            
                            .skill_alt img:hover {
                                top: -10px;
                            }
                            
                            .other_skills .grid_otherskills {
                                grid-template-columns: 1fr;
                                justify-content: center;
                            }
                            
                            .more_skills p {
                                text-align: left;
                                padding-bottom: 20px;
                                margin-bottom: 0;
                            }
                            
                            .port_nav {
                                padding: 25px;
                                color: rgb(81, 93, 104);
                                text-decoration: underline;
                            }
                            
                            .Portfolio {
                                text-align: center;
                                padding-bottom: 40px;
                            }
                            
                            .gridfilter {
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                gap: 10px;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                align-items: center;
                            }
                            
                            .portlist p {
                                color: rgb(70, 82, 94);
                            }
                            
                            .port_cover {
                                max-width: 1500px;
                                padding-top: 20px;
                            }
                            
                            .port_main {
                                display: grid;
                                justify-content: center;
                                justify-items: center;
                                justify-self: center;
                            }
                            
                            .img17 {
                                background-repeat: no-repeat;
                                background-size: cover;
                                height: 290px;
                                margin: 0;
                                padding: 0 !important;
                            }
                            
                            .portlist {
                                width: 270px;
                                padding: 0;
                                max-width: 300px;
                                border-radius: 5px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                -ms-border-radius: 5px;
                                -o-border-radius: 5px;
                                margin: 5px 30px;
                                border: 1px solid gray;
                                height: 370px;
                                text-align: center;
                                transition: all .4s ease-in-out;
                                ;
                                -webkit-transition: all .4s ease-in-out;
                                -moz-transition: all .4s ease-in-out;
                                -ms-transition: all .4s ease-in-out;
                                -o-transition: all .4s ease-in-out;
                                font-size: 20px;
                            }
                            
                            .portlist:hover {
                                transform: scale(1.07);
                                -webkit-transform: scale(1.07);
                                -moz-transform: scale(1.07);
                                -ms-transform: scale(1.07);
                                -o-transform: scale(1.07);
                            }
                            
                            .p_title {
                                color: #17252A;
                                font-weight: bold;
                                margin: 0;
                                padding-bottom: 4px !important;
                            }
                            
                            .p_sub {
                                color: #8f8f92 !important;
                                margin-top: 0;
                                margin-bottom: 0;
                                padding-bottom: 4px !important;
                                font-size: 14px;
                            }
                            
                            .contact_h2 {
                                padding-bottom: 10px;
                            }
                            
                            .con_cover {
                                max-width: 1000px;
                                margin: 0 auto;
                                text-align: center;
                            }
                            
                            .contact {
                                padding-bottom: 40px;
                            }
                            
                            .input1,
                            .input2 {
                                margin: 25px 0;
                            }
                            
                            .input1 input[type='text'],
                            .input1 input[type='email'] {
                                border-radius: 5px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                -ms-border-radius: 5px;
                                -o-border-radius: 5px;
                                width: 90%;
                                padding: 18px;
                                font-size: 18px;
                                background-color: rgb(250, 248, 248);
                                border: 1px solid #2b7a78;
                            }
                            
                            .input2 textarea {
                                border-radius: 5px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                -ms-border-radius: 5px;
                                -o-border-radius: 5px;
                                width: 90%;
                                padding: 18px;
                                font-size: 18px;
                                background-color: rgb(250, 248, 248);
                                border: 1px solid #2b7a78;
                            }
                            
                            .btn_1 {
                                display: inline-block;
                                padding: 13px 10px;
                                cursor: pointer;
                                background-color: #3aafa9;
                                color: #21333a;
                                font-weight: bold;
                                border: none;
                                font-size: 21px;
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                -ms-border-radius: 4px;
                                -o-border-radius: 4px;
                                text-align: center;
                            }
                            
                            .call {
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                gap: 1px;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                            }
                            
                            .call .btn {
                                color: #17252A;
                                height: 80px;
                                max-height: 80px;
                                line-height: 35px;
                                padding-left: 7px;
                                padding-right: 7px;
                                margin-right: 10px;
                                margin-left: 10px;
                                width: 330px;
                                max-width: 330px;
                            }
                            
                            .call p {
                                font-size: 21px;
                                font-weight: bold;
                            }
                            
                            .call a {
                                color: #302f2f;
                                margin-top: 20px;
                                font-size: 20px;
                            }
                            
                            .contact .call {
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                padding-top: 30px;
                                padding-bottom: 20px;
                            }
                            
                            .call .social_icon i {
                                padding-top: 15px;
                                font-size: 40px;
                                padding-right: 12px;
                                color: #17252a;
                            }
                            
                            div.btn {
                                margin: 0 10px 16px;
                            }
                            
                            .social_icon a i,
                            .call p a {
                                transition: all 0.3s linear;
                            }
                            
                            .social_icon a:hover i {
                                transform: scale(1.1);
                            }
                            
                            .call a:hover {
                                font-size: 21px;
                            }
                            
                            .social_icon a i:hover {
                                color: #0f1b1f;
                            }
                            
                            footer {
                                text-align: center;
                                padding-bottom: 30px;
                                padding-top: 20px;
                            }
                            
                            .footer {
                                text-align: center;
                                padding-bottom: 30px;
                                padding-top: 20px;
                            }
                            
                            @media (max-width: 1070px) {
                                .contact .call {
                                    grid-template-columns: repeat(2, 1fr);
                                    align-content: center;
                                    align-items: center;
                                    align-self: center;
                                    grid-auto-rows: 100px;
                                    grid-template-areas: "a b" "c c"
                                }
                                .grid_a {
                                    grid-area: a;
                                }
                                .grid_b {
                                    grid-area: b;
                                }
                                .grid_c {
                                    grid-area: c;
                                    justify-self: center;
                                }
                            }
                            
                            @media (max-width: 1200px) {
                                .Services .grid,
                                .Portfolio .gridfilter {
                                    grid-template-columns: 1fr 1fr;
                                    align-content: center;
                                    align-items: center;
                                    align-self: center;
                                }
                                .Home .container {
                                    padding: 0 10px;
                                }
                            }
                            
                            @media (max-width: 811px) {
                                .Home .container {
                                    padding: 0 20px;
                                }
                                .Services .h6 {
                                    font-size: 20px;
                                }
                                .Services p {
                                    font-size: 18px;
                                }
                                .Services .inner {
                                    width: 300px;
                                    max-width: 300px;
                                }
                                .portlist {
                                    margin: 5px 10px;
                                }
                                .btn_top {
                                    padding: 9px 16px;
                                    font-size: 20px;
                                    margin-bottom: 10px;
                                }
                            }
                            
                            @media (max-width: 780px) {
                                .Home .grid {
                                    grid-template-columns: 1fr;
                                    align-content: center;
                                    align-items: center;
                                    align-self: center;
                                }
                            }
                            
                            @media (max-width: 720px) {
                                .contact .call {
                                    grid-template-columns: 1fr;
                                    grid-template-areas: "a" "b" "c";
                                    grid-auto-rows: 100px;
                                }
                                .grid_a {
                                    grid-area: a;
                                    justify-self: center;
                                    margin-top: 10px;
                                }
                                .grid_b {
                                    grid-area: b;
                                    justify-self: center;
                                }
                                .grid_c {
                                    grid-area: c;
                                    justify-self: center;
                                }
                                .Portfolio .gridfilter,
                                .Services .grid {
                                    grid-template-columns: 1fr;
                                    align-content: center;
                                    align-items: center;
                                    align-self: center;
                                }
                                .Services .inner {
                                    width: 360px;
                                    max-width: 360px;
                                }
                            }
                            
                            @media (max-width: 500px) {
                                .Skills .grid {
                                    grid-template-columns: repeat(2, 1fr);
                                }
                                .Services .inner {
                                    width: 300px;
                                    max-width: 300px;
                                }
                                .btn_about {
                                    padding: 0 10px;
                                    font-size: 19px;
                                    margin-bottom: 7px;
                                }
                                .forms .grid {
                                    grid-template-columns: 1fr;
                                    justify-content: center;
                                    gap: 0px;
                                }
                                .input2 {
                                    margin: 0 0 15px;
                                }
                            }
                            
                            @media (max-width: 374px) {
                                .Services .inner {
                                    padding: 30px 7px;
                                }
                                .call p,
                                .call a {
                                    font-size: 20px;
                                }
                                .call a {
                                    font-size: 19px;
                                }
                                .social_icon i {
                                    font-size: 29px;
                                }
                                .call a:hover {
                                    font-size: 19px;
                                }
                                .call .btn {
                                    width: 280px;
                                    max-width: 280px;
                                }
                                .skill_list {
                                    max-width: 135px;
                                }
                                .skill_name,
                            .more_skills {
                                color: #2e2a3d;
                                text-align: left;
                                font-size: 16px;
                                letter-spacing: 0.5px;
                            }
                                .more_skills p {
                                    font-size: 16px
                                }
                                .gridfilter {
                                    padding: 7px;
                                }
                                div .portlist .emails_data,
                                div .portlist .websites_data {
                                    margin: 5px;
                                }
                                .grid_b .btn a{
                                  font-size: 18px
                            }
